.firstlevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;

  margin-top: 20px;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.firstlevelactive,
.firstlevel:hover {
  color: var(--primary);
}

.firstlevelactive svg,
.firstlevel:hover svg {
  fill: var(--primary);
}

.secondlevel {
  cursor: pointer;

  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 300;
  color: var(--gray-dark);
  text-transform: uppercase;
}

.secondblock {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #dfdfdf;
}

.scondlevelblock {
  overflow: hidden;
}

.thirdlevel {
  cursor: pointer;

  display: block;

  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 500;
  color: var(--gray-dark);

  outline-offset: -1px;
}

.thirdlevelactive,
.thirdlevel:hover {
  color: var(--primary);
}
